.navcon{
    position: fixed;
    top: 0;
    left:0;
    display: inline-flex;
    background: rgb(29, 29, 52, 0.97);
    color: white;
    width: 100vw;
    justify-content:space-around;
    padding: 20px;
    z-index: 3;
}

.navlogo{
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
}

.navcontent{
    display: inline-flex;
    justify-content: space-between;
    width: 55%;
    font-size: .8em;
}
.navbar{
    display: flex;
    list-style: none;
}

.navitem{
    margin: auto 10px;
    cursor: pointer;
}

.navitem:hover{
    font-weight: bold;
}

.navbase{
    color: rgb(218, 169, 79);
    padding: 10px 10px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
}
.navicon{
    display: none;
}
@media screen and (max-width: 700px) {
    .navcon{
        display: block;
        padding:0px;
        justify-content: center;
        z-index: 2;
    }
    .navmobile{
        display: block;
        margin: auto;
    }
    .navicon{
        display: block;
        font-size: 1.8em;
        margin-left: auto;
        cursor: pointer;
    }
    .navlogocover{
        width: 100vw;
        padding: 20px 0px;
        background: rgb(29, 29, 52, 0.97);
        z-index: 5;
    }
    .navcontent{
        width: 100%;
        display: block;
        justify-content: center;
        padding: 20px 0px;
        margin-top: 0px;
        background: rgb(29, 29, 52, 0.97);
        transition: margin-top 1.5s ease-in-out;
        z-index: 2;
    }

    .navbar{
        display: block;
    }
    .navitem{
        margin: 20px;
    }
    .navmobileview{
        display: inline-flex;
        width: 93%;
    }
    .viewnav{
        margin: auto;
        margin-top: -400px;
    }
}